.App-body {
  margin: 10px;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 10vmin;
  pointer-events: none;
  padding-right: 15px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 12vmin;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.list-header {
  text-decoration: underline;
  margin-top: 20px;
  margin-left: 5px;
}

.row-button {
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.content-body {
  padding-top: 20px;
}

.item-name {
  margin-left: 10px;
  font-size: 20pt;
}

.aisle {
  color: gray;
}

.row-button {
  margin-left: 10px;
}

.food-icon {
  max-width: 32px;
  text-align: center;
  max-height: 32px;
}